<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Temperatura Ambiente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Temperatura</ion-card-subtitle>
          <ion-card-title>Ambiente Invernadero</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h1>12.1 ° centígrados</h1>
        </ion-card-content>
      </ion-card>
</ion-content>
